<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- APP PRINCIPAL -->
    <menuitem id="menu_meli_app_root"
              name="Api mercado libre"
              sequence="0"
              web_icon="prb_connect_to_mercado_libre,static/description/icon.png"/>

    <!-- MENÚ MERCADO LIBRE -->
    <menuitem id="menu_meli_root"
              name="Mercado Libre"
              parent="menu_meli_app_root"
              sequence="1"/>

    <menuitem id="menu_publications_config"
              name="Publicaciones"
              parent="menu_meli_app_root"
              sequence="2"/>

    <menuitem id="menu_meli_config"
              name="Configuracion"
              parent="menu_meli_app_root"
              sequence="20"/>

    <!-- MENÚ MERCADO LIBRE -Configuracion-->
    <menuitem id="menu_stock_config_settings_meli"
              name="Config. Mercado Libre"
              parent="menu_meli_config"
              sequence="10"/>

</odoo>