<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- APP PRINCIPAL -->
    <menuitem id="menu_shopify_app_root"
              name="Api shopify"
              sequence="0"
              web_icon="prb_connect_to_shopify,static/description/icon.png"/>
    <!-- MENÚ ORDENES-->
    <menuitem id="menu_shopify_orders"
              name="Ordenes"
              parent="menu_shopify_app_root"
              sequence="1"/>
    <!-- MENÚ SHOPIFY-->
    <menuitem id="menu_shopify_config"
              name="Configuración"
              parent="menu_shopify_app_root"
              sequence="20"/>

</odoo>