<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- APP PRINCIPAL -->
    <menuitem id="menu_falabella_root"
              name="Api Falabella"
              sequence="0"
              web_icon="prb_falabella_seller_center,static/description/icon.png"/>

    <menuitem id="menu_falabella_config"
              name="Configuración"
              parent="menu_falabella_root"
              sequence="10"/>

    <menuitem id="menu_falabella_accounts"
              name="Cuentas"
              parent="menu_falabella_config"
              action="action_falabella_account"
              sequence="10"/>
    <menuitem id="menu_falabella_brands"
          name="Marcas"
          parent="menu_falabella_root"
          action="action_falabella_brand"
          sequence="20"/>
</odoo>